
.multiplevideoContainer {
    position: relative;
    height: 100vh;
    
  }
  
  .multiplevideo {
    display: block;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    width: 100%;
  }
  .secondmultiplecontainer{
    position: relative;
  }
  .secondmultipleimageLoadMarker {
    background-color: black;
    z-index: 0;
    position: absolute;
    top: -100vh;
  }
  
  .secondmultiplewrapper {
    position: relative;
    max-width: 100vw;
    height: 600vh;
  }
  
  .secondmultipleinnerWrapper{
    height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;
  }
  
  .secondmultiplespacer {
    z-index: 9;
    height: 550vh;
  }
  
  .secondmultiplecanvasContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .innercanvas {
    aspect-ratio: 3485 / 2029;
    width: 100%;
    height: auto;
  }
  
  .thirdmultiplevideoContainer{
    position: relative;
    height: 100vh;
  } 
  .thirdmultiplevideo {
    position: initial;
    visibility: visible;
    display: block;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    width: 100%;
  }
  .secondmultipleinnercanvas{
    aspect-ratio: 3485 / 2029;
    width: 30%;
    height: auto;
  }
  