.navbarwrapper{
  display: flex;
  position: absolute;
  top: 0px;
  padding: 70px 130px;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  z-index: 11;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  transition: top 0.5s ease 0s;
}
.credsvg{
  width: 74;
  height: 88;
}
.navbartoggle_container{
  display: flex;
  margin-left: auto;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.navbartoggle_container_hyperlink{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-image: initial;
  border-top: none;
  border-bottom: none;
  width: 80px;
  height: 80px;
  padding: 10px;
}
.navbartoggle_hyperlink{
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 22px;
  width: 22px;
}
.navbartoggle_bar{
  height: 2px;
  width: 100%;
  opacity: 0.6;
  transition: all 600ms ease-in-out 0s;
  background-color: white;
    opacity: 1;
}