.main_card_statement_component {
  position: relative;
}

.sub_card_statement_slide {
  background-color: black;
  z-index: 0;
  position: absolute;
  top: -100vh;
}

.sub_card_statement {
  position: relative;
  max-width: 100vw;
}

.sub_card_statement_inner {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.sub_card_statement_slide2 {
  height: 500vh;
  z-index: 9;
}

.card_statement_canvas_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.card_statement_canvas {
  width: 100%;
  height: auto; /* Avoid forcing height */
  object-fit: cover; /* Makes sure the image is properly scaled */
}

.card_statement_imageloader_container {
  position: relative;
}

.sub_card_statement_slide3 {
  background-color: black;
  z-index: 0;
  position: absolute;
  top: -200vh;
}

.card_statement_imageloader_subcontainer {
  position: relative;
  max-width: 100vw;
  height: 600vh;
}

.card_statement_imageloader_subcontainer2 {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.sub_card_statement_slide4 {
  height: 550vh;
  z-index: 9;
}

.card_statement_canvas_subcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.card_statement_canvas2 {
  width: 100%;  /* Ensure it scales based on container */
  height: auto; /* Maintain aspect ratio */
}
